<div class="search-blog-box">
  <div class="row">
    <div class="col-12">
      <h5 class="search-blog-header"><a href="#">语言教程——01 Java简介</a></h5>
    </div>
    <div class="col-12">
      <div class="search-blog-body">
        <p>Java 简介Java是由Sun Microsystems公司于1995年5月推出的Java面向对象程序设计语言和Java平台的总称。由James Gosling和同事们共同研发，并在1995年正式推出。Java分为三个体系：JavaSE（J2SE）（Java2 Platform Standard Edition，java平台标准版）JavaEE(J2E</p>
      </div>
    </div>
    <div class="col-12">
      <div class="search-blog-footer">
        <img src="assets/img/java.jpg" class="img-fluid">
        <span>一个爱上赖响楠的人</span>
        <span>2018-06-25</span>
      </div>
    </div>
  </div>
</div>
