<!--子组件向父组件传递的事件item 和 invite-->
<div class="list-container-box" [@listAnim]="projects.length">
  <app-project-item *ngFor="let project of projects"
                    [item]="project"
                    class="card"
                    (invite)="launchInviteDialog()"
                    (edit)="launchEditDialog()"
                    (delete)="launchConfirmDialog(project)">
  </app-project-item>

</div>

<button mat-fab type="button" (click)="openNewProjectDialog()" class="add-button">
  <mat-icon>add</mat-icon>
</button>




