mat-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 12px;
  order: 3;
}

.priority-normal {
  border-left: 3px solid #A6A6A6;
}

.priority-important {
  border-left: 3px solid #ffaf38;

}

.priority-emergency {
  border-left: 3px solid #ff0000;

}

.completed {
  opacity: 0.64;
  color: #d9d9d9;
  text-decoration: line-through;
}

.completion-status {
  order: -1;
}

.due-date {
  background-color: #ff4f3e;
  color: #ffffff;
}

.alarm {
  font-size: 1rem;
}

.bottom-bar {
  margin-top: .3rem;
  margin-bottom: .2rem;
  font-size: .8rem;
  width: 100%;
  order: 1;
}

.content {
  order: 1;
  width: 100%;
  padding: .4rem;
}

.container {
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0 ,0, 0.1);
}

:host {
  width: 100%;
}
