<div>
  <div class="admin-avatar">
    <img src="assets/img/avatar01.jpg" class="img-fluid img-thumbnail">
    <h5>hzjangular</h5>
  </div>
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            课程管理
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a mat-line>上传课程</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>删除课程</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>查询课程</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>修改课程</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            文章管理
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a mat-line>上传文章</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>删除文章</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>查询文章</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>修改文章</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            用户管理
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a mat-line>添加管理员</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>删除用户</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>查询用户</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>用户密码重置</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            问题管理
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item>
            <a mat-line>删除问题</a>
          </mat-list-item>
          <mat-list-item>
            <a mat-line>查询问题</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
