<div class="container" style="padding-bottom: 2rem;">
  <div class="row">
    <div class="col-12 problem-list-box">
      <img src="../../../../../../assets/img/course04.jpg" class="img-fluid">
      <div class="problem-list-box-right">
        <div class="problem-list-box-right-header">
          <span>来自</span>
          <a href="#">前端工具</a>
          <a href="#">JAVA</a>
        </div>
        <div class="problem-list-box-right-content">
          <h5>
            <a href="#">lib下引入standard和jstl依然报错，有大神知道原因吗？</a>
          </h5>
        </div>
        <div class="problem-list-box-right-footer">
          <button mat-raised-button>
            <a href="#">撰写答案</a>
          </button>
          <a>回答问题最高可获<span>2积分</span>哦！</a>
          <a href="#">2个回答</a>
        </div>
      </div>
    </div>
    <div class="col-12 problem-list-box">
      <img src="../../../../../../assets/img/course04.jpg" class="img-fluid">
      <div class="problem-list-box-right">
        <div class="problem-list-box-right-header">
          <span>来自</span>
          <a href="#">前端工具</a>
          <a href="#">JAVA</a>
        </div>
        <div class="problem-list-box-right-content">
          <h5>
            <a href="#">lib下引入standard和jstl依然报错，有大神知道原因吗？</a>
          </h5>
        </div>
        <div class="problem-list-box-right-footer">
          <button mat-raised-button>
            <a href="#">撰写答案</a>
          </button>
          <a>回答问题最高可获<span>2积分</span>哦！</a>
          <a href="#">2个回答</a>
        </div>
      </div>
    </div>
    <div class="col-12 problem-list-box">
      <img src="../../../../../../assets/img/course04.jpg" class="img-fluid">
      <div class="problem-list-box-right">
        <div class="problem-list-box-right-header">
          <span>来自</span>
          <a href="#">前端工具</a>
          <a href="#">JAVA</a>
        </div>
        <div class="problem-list-box-right-content">
          <h5>
            <a href="#">lib下引入standard和jstl依然报错，有大神知道原因吗？</a>
          </h5>
        </div>
        <div class="problem-list-box-right-footer">
          <button mat-raised-button>
            <a href="#">撰写答案</a>
          </button>
          <a>回答问题最高可获<span>2积分</span>哦！</a>
          <a href="#">2个回答</a>
        </div>
      </div>
    </div>
  </div>
</div>
