<div class="search-problem-box">
  <div class="row">
    <div class="col-12 search-problem-footer">
      <span>2018.07.16</span>
      <span>16:07</span>
      来自<span class="author">dabocaiqq </span>
      <span class="reward">悬赏</span>
      <span class="price">5c</span>
    </div>
    <div class="col-12 search-problem-title">
      <h5><a href="#"> javascrit语言怎么实现计算一个json中的平均值？如果是动态添加的数组，代码怎么实现？</a></h5>
    </div>
    <div class="col-12 search-problem-body">
      <span>javascrit语言怎么实现计算一个json中的平均值？如果是动态添加的数组，代码怎么实现？</span>
    </div>
    <div class="col-12 search-problem-label">

      <mat-chip-list>
        <mat-chip color="primary" selected>Json</mat-chip>
      </mat-chip-list>
    </div>
  </div>
</div>
