<div class="content-box">
  <div class="container">
    <div class="row carousel-box">
      <div class="col-2 menu-list">
        <mat-nav-list>
          <mat-list-item
            *ngFor="let menu of menu_link"
            (mouseenter)="showMenu(menu.value, $event)"
            (mouseleave)="showMenu('', $event)">
            <a matLine>{{menu.value}}</a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      <div class="col-9 menu-right remove-padding">
        <div>
          <ngb-carousel (mouseenter)="enterCarousel()">
            <ng-template ngbSlide *ngFor="let img of carouseImg">
              <div class="row carousel-img-box">
                <div class="col-12 remove-padding">
                  <img [src]="img.img" alt="Random first slide" class="img-fluid">
                </div>
              </div>
            </ng-template>
          </ngb-carousel>
          <div class="coursel-bottom">
            <div *ngFor="let direction of directions">
              <i [class]="direction.className"></i>
              <div class="tit">{{direction.title}}</div>
              <div>{{direction.subtitle}}</div>
            </div>
          </div>
        </div>
        <div *ngFor="let menus of second_menu">
          <div class="bg-white second-menu"
               [ngClass]="{
                  'block': menus.ascription === show_menu,
                  'none': menus.ascription !== show_menu}"
               (mouseenter)="showMenu(menus.ascription, $event)"
               (mouseleave)="showMenu('', $event)">
            <div *ngFor="let menu of menus.menu">
              <h5 class="second-menu-title">{{menu.title}}</h5>
              <div class="link-box">
                <a *ngFor="let directions of menu.value" [routerLink]="['/study/freeCourse']" [queryParams]="{direction: directions.link}">{{directions.direction}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light course-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="title">实战推荐</h4>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>

    </div>
  </div>
</div>

<div class="bg-white  course-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="title">新上好课</h4>
      </div>

      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
    </div>
  </div>
</div>

<div class="bg-light  course-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="title">新手入门</h4>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
    </div>
  </div>
</div>


<div class="bg-white  course-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="title">技能提升</h4>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
    </div>
  </div>
</div>



<div class="bg-light course-box">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h4 class="title">前沿技术</h4>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
      <div class="col-3">
        <app-course-list [course]="courses"></app-course-list>
      </div>
    </div>
  </div>
</div>

