<div class="container" style="margin-top: 1rem;">
  <div class="row">
    <div class="col-12 comment-box bg-white">
      <div class="comment-avatar">
        <img src="assets/img/avatar01.jpg" class="img-fluid img-thumbnail">
      </div>
      <div class="comment-content">
        <div class="comment-name">
          <a href="#">AOP和过滤器的区别</a>
        </div>
        <div class="comment-content-bottom">
          <div><a href="#">1回答</a></div>
          <div><a href="#">2-1 使用AOP处理请求(上）</a></div>
          <div><span>2000-2000-2000</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
